/*
# BEM (BLOCK, ELEMENT, MODIFIER) METHEDOLOGY
<div class="card card--show">
  <div class="card__title"></div>
  <div class="card__container">
  </div>
</div>
.card - BLOCK
.card__title - ELEMENT
.card--show - MODIFIER
*/


/* RESET styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html,
body,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu ul,
.menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul,
li {
  /* list-style: none; */
  /* padding: 0; */
  /* margin: 0; */
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.no--select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.page {
  margin-top: 4.5em;
  height: 100%;
}

.hide {
  display: none;
}

h3 {
  /* text-align: left;
  margin-top: 1.250em;
  margin-bottom: 1.75em; */
  font-weight: 500;
}

/* MAIN styles */

body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.app-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 3em;
  top: 0;
  background-color: #1E88E5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start; /* Safari 6.1+ */
  justify-content: flex-start;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.app__offline, .loggedout {
  background-color: #6b6b6b;
}

.offline, .loggedout {
  background: #6b6b6b;
}

.container h4{
  font-family: Consolas, "courier new";
}

.header__icon {
  width: 48px;
  height: 48px;
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.header__icon:active {
  opacity: 0.8;
  outline: 1px solid #fff;
}

.header__title {
  color: #fff;
  font-size: 1.250em;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 0.625em;
}

.menu {
  width: 15em;
  height: 100%;
  background: gray;
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0.688em 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
  -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
  will-change: transform;
  z-index: 2;
}

.menu--show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu__overlay--show {
  visibility: visible;
  opacity: 1;
}

.menu__header {
  position: relative;
  height: 5em;
  background: #1E88E5;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.loggedoutHeader {
  background: #9E9E9E;
}

.menu__list {
  background: gray;
  width: inherit;
  height: inherit;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.menu__list-webkit-scrollbar {
  display: none;
}

.menu__list > li {
  padding: 1em;
}

.menu__list li a {
  display: inline;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  display: block;
}

.menu__list li a:active,
.menu__list li a:hover {
  background: #e7e7e7;
}

.menu__list__active {
  background: #bbb;
}

.app__content {
  width: 5em;
  height: 100%;
  margin: 0 auto;
  margin-top: 56px;
  padding-top: 0.625em;
}

.toast__container {
  color: white;
  position: fixed;
  top: 4.5em;
  right: 0;
  z-index: 1;
}

.profile-pic {
  width: 70%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.home-note {
  font-style: oblique;
  margin-top: 1.250em;
  padding: 0.750em 0.938em;
}

.toast__msg, .toast__container > div {
  border-radius: 0.25em;
  background-color: rgba(128,128,128,0.75);
  min-height: 2em;
  color: #fff;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; */
  font-size: 0.85em;
  font-weight: 500;
  padding-left: 0.938em;
  padding-right: 0.625em;
  word-break: break-all;
  -webkit-transition: opacity 3s cubic-bezier(0, 0, 0.30, 1) 0;
  -webkit-transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  text-transform: initial;
  margin-bottom: 0.625em;
}

.toast__msg--hide {
  opacity: 0;
}

button {
  min-width: 4em;
  font-size: 0.875em;
  border: 0;
  /* background: #4F8EFA; */
  /* color: #fff; */
  color: #000;
  border-radius: 0.125em;
  margin: 0 auto -0.15em;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.38);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.38);
  -webkit-user-select: none;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top left, #4F8EFA -50%, #FCFCFC 110.00000000000001%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top left, #4F8EFA -50%, #FCFCFC 110.00000000000001%);
  /* Opera */
  background-image: -o-linear-gradient(top left, #4F8EFA -50%, #FCFCFC 110.00000000000001%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(-.5, #4F8EFA), color-stop(1.1, #FCFCFC));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top left, #4F8EFA -50%, #FCFCFC 110.00000000000001%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom right, #4F8EFA -50%, #FCFCFC 110.00000000000001%);
}

button.red, button.red:disabled {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top left, #FF0000 -50%, #FCFCFC 110.00000000000001%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top left, #FF0000 -50%, #FCFCFC 110.00000000000001%);
  /* Opera */ 
  background-image: -o-linear-gradient(top left, #FF0000 -50%, #FCFCFC 110.00000000000001%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(-.5, #FF0000), color-stop(1.1, #FCFCFC));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top left, #FF0000 -50%, #FCFCFC 110.00000000000001%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom right, #FF0000 -50%, #FCFCFC 110.00000000000001%);
}

button.green, button.green:disabled {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top left, #00FF00 -50%, #FCFCFC 110.00000000000001%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top left, #00FF00 -50%, #FCFCFC 110.00000000000001%);
  /* Opera */ 
  background-image: -o-linear-gradient(top left, #00FF00 -50%, #FCFCFC 110.00000000000001%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(-.5, #00FF00), color-stop(1.1, #FCFCFC));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top left, #00FF00 -50%, #FCFCFC 110.00000000000001%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom right, #00FF00 -50%, #FCFCFC 110.00000000000001%);
}

button:active {
  box-shadow: none;
}

button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.custom__button p {
  position: initial;
  margin: 0;
  padding-left: 0.625em;
}

.custom__button {
  padding: 0.625em 0.938em;
  font-family: 'Roboto', arial, sans-serif;
  text-align: left;
}

.turn-on-sync {
  min-width: 6em;
  height: 2em;
  margin-left: 0.625em;
}

.custom__input:checked + .custom__checkbox {
  background: rgb(195, 195, 195);
}

.custom__input:checked + .custom__checkbox::before {
  left: 1.5em;
  background: #0288d1;
}

b {
  font-family: inherit;
  font-weight: 500;
}

.fab {
  width: 3em;
  height: 3em;
  background: #6b6b6b;
  border-radius: 50%;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.14), 0 0.25em 0.5em rgba(0, 0, 0, 0.28);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.15em;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.fab.active {
  background: #F44336;
}

.fab__ripple {
  position: absolute;
  left: -1.063em;
  bottom: -0.75em;
  width: 2.25em;
  height: 2.25em;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  background: #fff;
  border-radius: 50%;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms, -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
  z-index: 2;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fab:active .fab__ripple {
  opacity: 0.2;
  -webkit-transform: scale(1) translate(31%, -22%);
          transform: scale(1) translate(31%, -22%);
}

.fab__image {
  overflow: hidden;
  z-index: 3;
}

.add__card {
  margin: 2.5em auto;
  text-align: center;
}

.add__input {
  width: 8em;
  height: 2.125em;
  border: 0.1em solid #ccc;
  padding-left: 0.625em;
  font-size: 0.813em;
  display: block;
  margin: 0.625em auto;
}

.add__btn {
  height: 2.125em;
  min-width: 70px;
  margin-top: 10px;
  display: block;
  margin-left: 0;
}

.add__card ul,
.add__card li,
.share__container li {
  width: 5em;
  text-align: left;
  margin: 0.938em auto;
}

.add__card p {
  font-weight: 500;
  font-size: 1.125em;
  margin-top: 2.5em;
}

.card span {
  display: block;
}

.add__to-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.bg-sync__text {
  font-size: 0.75em;
  padding-left: 0.3em;
  color: #008000;
}

.custom__button.custom__button-bg {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.custom__button.custom__button-bg.hide {
  display: none;
}

b i a {
  text-decoration: underline;
  color: #1E88E5;
}

.add__card ul + p {
  margin-top: 1.25em;
}

.card__spinner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.16);
  display: none;
}

.card__spinner::after {
  content: "Loading...";
  color: #1E88E5;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  text-align: center;
  line-height: 6em;
  font-size: 1.125em;
}

.card__spinner.show {
  display: block;
}

.share__container a {
  text-decoration: underline;
  color: #1E88E5;
}

.share__container {
  margin-bottom: 3em;
}

.share {
  margin: 1.25em auto;
  text-align: center;
  display: block;
}

.headerButton {
    width: 1.5em;
    margin-right: 1em;
    overflow: hidden;
    /** opacity: 0.54; **/
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: none;
    outline: none;
    cursor: pointer; 
}

#logoutRefresh {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-around;
}

#logoutRefresh button {
  margin: 0;
  font-size: 1.25em;
}

.ticketGraphContainer, .invoiceGraphContainer, .invoiceTable {
  overflow-x: auto;
}

.invoiceTable table {
  margin: 0 auto;
}

#sig {
  touch-action: none;
}

.ticketError {
  text-align: center;
  height: 1.1em;
}

.ellipsis {
  display: block;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

#confirmLogin {
  position: fixed;
  top: 15%;
  left: 40%;
  z-index: 1;
  padding-bottom: 1.0em;
  background-color: #535353;
  border-radius: 0.5em;
}

#login {
  margin: 0 0.5em;
}

#login > table {
  border-collapse: separate;
}

#login > table td {
  padding-bottom: 0.5em;
}

#login > table > tfoot > tr > td {
  text-align: center;
}

@media print {
  header, .menu, .menu__overlay, .toast__container {
    display: none;
  }
  #invoiceQueryResults > #invoice {
    margin: 0;
    padding: 0;
    overflow: initial;
    width: 80%;
  }
}