html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: black;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

a.plain:link {
  text-decoration: none;
  color: white;
}

a.plain:visited {
  text-decoration: none;
  color: white;
}

a.plain:hover {
  text-decoration: none;
  color: white;
}

a.plain:active {
  text-decoration: none;
  color: white;
}

h3 {
  display: inline-block;
  padding:0;
  margin:0;
}

textarea {
  background-color: grey;
  color: yellow;
}

table td {
  padding: 0 2px;
  /* width: 45%; */
  white-space: normal;
}

.tickets {
  width: 95%;
  white-space: normal;
}

.tickets thead td, .ticketContainer tfoot td, .confirm td {
  text-align: center;
}

.sortable {
  position: relative;
  width: 95%;
  margin-bottom: 1em;
  border: thick solid grey;
}

.sortable hr {
  clear: both;
}
.sortable #signature-pad {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: darkslategray;
}

label {
  font-weight: bold;
}

#ticketEntry input[type=email], #ticketEntry input[type=tel] {
  /* width: 90%; */
}

#ticketEditor {
  text-align: center;
}

#ticketEditor .item {
  display: inline-block;
  margin-bottom: 0.25rem;
  white-space: nowrap;
}

.routeStop {
  /* display: inline; */
}

.confirm #pSigPrint, .confirm #dSigPrint, .confirm #d2SigPrint {
  /* width: 85%; */
}

.confirmRun {
  /* width: 100%; */
}

.tickets .time {
  /* width: 12%; */
}

.pGetSig, .dGetSig, .d2GetSig {
  /* width: 25%; */
}

.timeCard {
  width: 100%;
  table-layout: fixed;
}

/** Pulsing color change **/
@-webkit-keyframes pulsing {
  0% {background-color: white;}
  50% {background-color: red;}
  100% {background-color: white;}
}
@keyframes pulsing {
  0% {background-color: black; color:red;}
  50% {background-color: red; color:white;}
  100% {background-color: black; color:red;}
}
.pulse {
  background-color: white;
  animation-name: pulsing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
/** Pulsing color change 2 **/
@-webkit-keyframes pulsing2 {
  0% {color: white;}
  50% {color: blue;}
  100% {color: white;}
}
@keyframes pulsing2 {
  0% {color: white;}
  25% {color: red;}
  50% {color: green;}
  75% {color: blue;}
  100% {color: white;}
}
.pulse2 {
  font-weight: 700;
  color: white;
  animation-name: pulsing2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/** Pulsing color change 3 **/
@-webkit-keyframes pulsing3 {
  0% {color: white;}
  50% {color: blue;}
  100% {color: white;}
}
@keyframes pulsing3 {
  0% {color: red;}
  25% {color: white;}
  50% {color: blue;}
  75% {color: green;}
  100% {color: red;}
}
.pulse3 {
  font-weight: 700;
  color: red;
  animation-name: pulsing3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
#driverSelect {
  table-layout: fixed;
}
@media screen and (max-width: 720px) {
  .in1, .in2, .out1, .out2 {
    width: 90%;
    margin: 0 auto;
  }
  .ticketContainer > tbody > tr:not(.confirmAddress) > td {
    display: block;
  }
  .confirmAddress > td {
    display: table-cell;
  }
  #active_tickets .container .wide td {
    text-align: center;
  }
}
