/* begin loader */
.loader {
  width: 20rem;
  height: 20rem;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 90%;
  height: 90%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2rem 0.2rem 0rem 0rem;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2rem 0rem 0rem 0.2rem;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1rem;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2rem,
              0 0 4rem,
              0 0 6rem,
              0 0 8rem,
              0 0 10rem,
              0 0 0 0.5rem rgba(255, 255, 0, 0.1);
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}
/* end loader */
/* befing swipe style */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
  overflow: hidden;
}
/* end swipe style */
